
/**
 * Special case of the "Period Finding" problem.
 * For any function where f(x) = f(x + r) such that r is a power of two, this algorithm will find r.
 */

var numOutBits = 10;

function findPeriod(f) {
    var numInBits = numOutBits;
    var outBits = {from: 0, to: numOutBits - 1};
    var inputBits = {from: numOutBits, to: numOutBits + numInBits - 1};
    var gcd = 0;
//        Do this multiple times and get the GCD.
    for (var i = 0; i < numOutBits; i ++) {
        var qstate = new jsqbits.QState(numInBits + numOutBits).hadamard(inputBits);
        qstate = qstate.applyFunction(inputBits, outBits, f);
//        We do not need to measure the outBits, but it does speed up the simulation.
        qstate = qstate.measure(outBits).newState;
        var result = qstate.qft(inputBits).measure(inputBits).result;
        gcd = jsqbitsmath.gcd(gcd, result);
    }
    return Math.pow(2, numInBits)/gcd;
}

var f = promptForFunction("Enter a function where f(x) = f(x+r) for some r that is a factor of " + Math.pow(2, numOutBits), "function(x) {return x % 16;}");

print("The period of your function is " + findPeriod(f));
